<section class="section">
  <h1 class="page-title">Contact</h1>

  <div class="card">
    <div class="card__title">Email</div>
    <a class="link" href="mailto:ssawant10@stevens.edu">ssawant10@stevens.edu</a>

    <div style="height:18px;"></div>

    <div class="card__title">Profiles</div>
    <a class="link" href="https://www.linkedin.com/in/shravanisawant03" target="_blank">LinkedIn</a><br/>
    <a class="link" href="https://github.com/shravanips" target="_blank">GitHub</a>
  </div>
</section>
