<nav class="nav">
  <div class="nav__left">
    <a class="brand" href="/" aria-label="Go home"><i>shravani_ps</i></a>
  </div>

  <div class="nav__center">
    <a class="nav__link {{#if (eq active "home")}}is-active{{/if}}" href="/">Home</a>
    <a class="nav__link {{#if (eq active "experience")}}is-active{{/if}}" href="/experience">Experience</a>
    <a class="nav__link {{#if (eq active "education")}}is-active{{/if}}" href="/education">Education</a>
    <a class="nav__link {{#if (eq active "publications")}}is-active{{/if}}" href="/publications">Publications</a>
    <a class="nav__link {{#if (eq active "media")}}is-active{{/if}}" href="/media">Media</a>
    <a class="nav__link {{#if (eq active "about")}}is-active{{/if}}" href="/about">About</a>
    <a class="nav__link" href="/assets/Shravani_Resume.pdf" target="_blank" rel="noopener">Resume</a>
  </div>

  <div class="nav__right">
    <a class="btn" href="/contact">Contact</a>
  </div>
</nav>
