<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👩🏻‍💻</text></svg>">
  </head>

  <body class="{{bodyClass}}">
    {{> navbar active=active}}

    <main class="container">
      {{{body}}}
    </main>

    {{#unless hideFooter}}
      {{> footer}}
    {{/unless}}

    <script src="/js/main.js"></script>
    <script src="/js/media.js" defer></script>
  </body>
</html>
