<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="{{bodyClass}}">
    {{> navbar active=active}}

    <main class="container">
      {{{body}}}
    </main>

    {{#unless hideFooter}}
      {{> footer}}
    {{/unless}}

    <script src="/js/main.js"></script>
    <script src="/js/media.js" defer></script>
  </body>
</html>
